In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib
import matplotlib.pyplot as plt
# suppress warning
import warnings
warnings.filterwarnings('ignore')
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose
import scipy
from sklearn.metrics import r2_score
from statsmodels.graphics.tsaplots import plot_acf

In [22]:
file_path = '/Users/morris/Downloads/Neighorhood_Indicators.xlsx'

xl = pd.ExcelFile(file_path)
data_dictionary = pd.read_excel(xl, sheet_name='Data Dictionary')
data_sheet = pd.read_excel(xl, sheet_name='Data')

column_descriptions = data_dictionary.set_index('Variable').reindex(data_sheet.columns).reset_index()
column_descriptions.rename(columns={'index': 'Variable'}, inplace=True)  
column_descriptions[['Variable', 'Description']] 
column_mapping = {row['Variable']: (row['Description'] if pd.notnull(row['Description']) else row['Variable'])
                  for index, row in column_descriptions.iterrows()}

Neighorhood_Indicators = data_sheet.rename(columns=column_mapping)

In [24]:

Neighorhood_Indicators

,region_id,region_display,region_name,region_type,year,"The number of people incarcerated as a result of crimes committed in the city or borough, regardless of the individual's residence.","The share of occupied, recently available rental units that are affordable to appropriately sized households with incomes at 30 of the Area Median Income.","The share of occupied, recently available rental units that are affordable to appropriately sized households with incomes at 80 of the Area Median Income.","The share of occupied, recently available rental units that are affordable to appropriately sized households with incomes at 120% of the Area Median Income.","The number of serious crimes, those classified as a major felony as defined by the NYPD, committed in a given geographic area per 1,000 residents.",...,The number of owner-occupied units divided by the total number of occupied housing units.,The share of all renter households in which there are more than 1.5 household members for each room in the unit.,"The number of vacant, habitable, for-rent units divided by the number of renter-occupied units plus vacant, habitable, for-rent units.",The number of residential units in buildings issued new certificates of occupancy issued by the DOB each year.,The number of transactions of 1 family residential properties that have a non-trivial price and the sale must not be marked as 'insignificant' by the Department of Finance.,The number of transactions of 2-4 family residential properties that have a non-trivial price and the sale must not be marked as 'insignificant' by the Department of Finance.,The number of transactions of all residential properties that have a non-trivial price and the sale must not be marked as 'insignificant' by the Department of Finance.,The number of transactions of condominiums that have a non-trivial price and the sale must not be marked as 'insignificant' by the Department of Finance.,The number of transactions of 5+ family residential properties that have a non-trivial price and the sale must not be marked as 'insignificant' by the Department of Finance.,The share of all rental households in privately owned units whose occupants use a housing choice voucher from HUD.
0,606,NYC,New York City,City,2000,1340.7,NaN,NaN,NaN,23.1,...,0.302,NaN,NaN,13603.0,13586.0,13702.0,33454.0,4842.0,1324.0,NaN
1,606,NYC,New York City,City,2001,NaN,NaN,NaN,NaN,20.3,...,NaN,NaN,NaN,14289.0,13753.0,14163.0,34575.0,5283.0,1376.0,NaN
2,606,NYC,New York City,City,2002,NaN,NaN,NaN,NaN,19.3,...,NaN,NaN,NaN,15024.0,16930.0,17579.0,44944.0,8430.0,2005.0,NaN
3,606,NYC,New York City,City,2003,NaN,NaN,NaN,NaN,18.4,...,NaN,NaN,NaN,17192.0,15891.0,16809.0,44986.0,10421.0,1865.0,NaN
4,606,NYC,New York City,City,2004,NaN,NaN,NaN,NaN,17.7,...,NaN,NaN,NaN,19052.0,16641.0,17440.0,46587.0,10648.0,1858.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3548,503,SI 03,Tottenville/Great Kills,Community District,2018,NaN,NaN,NaN,NaN,3.1,...,NaN,NaN,NaN,300.0,1375.0,498.0,1991.0,118.0,0.0,NaN
3549,503,SI 03,Tottenville/Great Kills,Community District,2019,NaN,NaN,NaN,NaN,2.8,...,NaN,NaN,NaN,258.0,1040.0,372.0,1532.0,119.0,1.0,NaN
3550,503,SI 03,Tottenville/Great Kills,Community District,2020,NaN,NaN,NaN,NaN,3.2,...,NaN,NaN,NaN,256.0,1292.0,419.0,1814.0,102.0,1.0,NaN
3551,503,SI 03,Tottenville/Great Kills,Community District,2021,NaN,NaN,NaN,NaN,3.4,...,NaN,NaN,NaN,276.0,1464.0,515.0,2130.0,149.0,2.0,NaN
3552,503,SI 03,Tottenville/Great Kills,Community District,2022,NaN,NaN,NaN,NaN,4.6,...,NaN,NaN,NaN,229.0,1365.0,527.0,2017.0,123.0,2.0,NaN

In [10]:
bart = pd.read_csv('/Users/morris/Downloads/FC_SHD_bbl_analysis.csv')

In [11]:
bart

,bbl,standard_address,city_id,city_name,boro_id,boro_name,cd_id,cd_name,sba_id,sba_name,...,end_proj8,prog_rad,start_rad,end_rad,prog_tpt,start_tpt,end_tpt,prog_year15,start_year15,end_year15
0,1000160015,50 Battery Place,1,New York City,1,Manhattan,101,MN 01 - Financial District,3810,Greenwich Village/Financial District,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
1,1000160020,70 Battery Place,1,New York City,1,Manhattan,101,MN 01 - Financial District,3810,Greenwich Village/Financial District,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
2,1000160210,399 Chambers Street,1,New York City,1,Manhattan,101,MN 01 - Financial District,3810,Greenwich Village/Financial District,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
3,1000167522,400 Chambers Street,1,New York City,1,Manhattan,101,MN 01 - Financial District,3810,Greenwich Village/Financial District,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
4,1000787510,110 Fulton Street,1,New York City,1,Manhattan,101,MN 01 - Financial District,3810,Greenwich Village/Financial District,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13454,3016220051,811 Lexington Avenue,1,New York City,3,Brooklyn,303,BK 03 - Bedford Stuyvesant,4003,Bedford Stuyvesant,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
13455,3039980030,410 Warwick Street,1,New York City,3,Brooklyn,305,BK 05 - East New York/Starrett City,4008,East New York/Starrett City,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
13456,3035890021,401 Chester Street,1,New York City,3,Brooklyn,316,BK 16 - Brownsville,4007,Brownsville/Ocean Hill,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
13457,4155290010,20-50 Nameoke Avenue,1,New York City,4,Queens,414,QN 14 - Rockaway/Broad Channel,4114,Rockaways,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
13458,3037660001,273 Snediker Avenue,1,New York City,3,Brooklyn,305,BK 05 - East New York/Starrett City,4007,Brownsville/Ocean Hill,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN