Alhassan, Abdulaziz and Sevtsuk, Andres, Madina Python Package: Scalable Urban Network Analysis for Modeling Pedestrian and Bicycle Trips in Cities. Available at SSRN: https://ssrn.com/abstract=4748255 or http://dx.doi.org/10.2139/ssrn.4748255

In [19]:
import madina as md
import geopandas as gpd
import pandas as pd

nyc = md.Zonal()

In [18]:

crash_data = pd.read_csv('../01_data/02_raw/Motor_Vehicle_Collisions_-_Crashes_20240426.csv')
crash_data.dropna(subset=['LATITUDE', 'LONGITUDE'], inplace=True)
gdf_crashes = gpd.GeoDataFrame(crash_data, geometry=gpd.points_from_xy(crash_data['LONGITUDE'], crash_data['LATITUDE']), crs='EPSG:4326')

/var/folders/xn/k3tchqyx5bn081b3tlx0k4940000gn/T/ipykernel_26603/3108876469.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  crash_data = pd.read_csv('../01_data/02_raw/Motor_Vehicle_Collisions_-_Crashes_20240426.csv')

In [20]:
# Load Layer
nyc.load_layer(name='nycstreet', source = '../01_data/02_raw/cut/cut.shp')
nyc.load_layer('collison', gdf_crashes)

/Users/lidouhao/anaconda3/envs/madina_env/lib/python3.12/site-packages/pyogrio/geopandas.py:49: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  res = pd.to_datetime(ser, **datetime_kwargs)

In [21]:
nyc.describe()

Layer name           | Visible | projection | rows  | File path
nycstreet            |       1 | EPSG:4326  | 88749 | ../01_data/02_raw/cut/cut.shp
collison             |       1 | EPSG:4326  | 1848897 | GeoDataFrame
Geographic center: (-73.92686351696304, 40.69913052869748)
No network graph yet. First, insert a layer that contains network segments (streets, sidewalks, ..) and call create_street_network(layer_name,  weight_attribute=None)
	Then,  insert origins and destinations using 'insert_nodes(label, layer_name, weight_attribute)'
	Finally, when done, create a network by calling 'create_street_network()'

In [22]:
nyc['collison'].gdf

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,geometry
id,,,,,,,,,,,,,,,,,,,,,
0,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN,POINT (-73.86650 40.66720)
1,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN,POINT (-73.91727 40.68330)
2,12/14/2021,17:05,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN,POINT (-73.95682 40.70918)
3,12/14/2021,8:17,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,...,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN,POINT (-73.83148 40.86816)
4,12/14/2021,21:10,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,...,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN,POINT (-73.89710 40.67172)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1848892,04/22/2024,20:27,QUEENS,11421.0,40.696545,-73.857380,"(40.696545, -73.85738)",NaN,NaN,84-18 88 STREET,...,NaN,NaN,NaN,4719432,Convertible,NaN,NaN,NaN,NaN,POINT (-73.85738 40.69655)
1848893,04/22/2024,14:15,QUEENS,11420.0,40.663860,-73.822970,"(40.66386, -73.82297)",NASSAU EXPRESSWAY,LEFFERTS BOULEVARD,NaN,...,NaN,NaN,NaN,4719557,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,POINT (-73.82297 40.66386)
1848894,04/18/2024,10:30,NaN,NaN,40.651512,-74.007340,"(40.651512, -74.00734)",4 AVENUE,NaN,NaN,...,NaN,NaN,NaN,4719599,Station Wagon/Sport Utility Vehicle,Motorcycle,NaN,NaN,NaN,POINT (-74.00734 40.65151)
1848895,04/22/2024,13:19,QUEENS,11373.0,40.743546,-73.887990,"(40.743546, -73.88799)",77 STREET,WOODSIDE AVENUE,NaN,...,NaN,NaN,NaN,4719383,AMBULANCE,Bike,NaN,NaN,NaN,POINT (-73.88799 40.74355)
1848896,04/22/2024,20:05,NaN,NaN,40.823505,-73.941440,"(40.823505, -73.94144)",WEST 146 STREET,NaN,NaN,...,NaN,NaN,NaN,4719495,Bike,NaN,NaN,NaN,NaN,POINT (-73.94144 40.82350)

In [23]:
nyc.create_street_network(source_layer="nycstreet")

/Users/lidouhao/anaconda3/envs/madina_env/lib/python3.12/site-packages/madina/zonal/network_utils.py:26: UserWarning: Geometry is in a geographic CRS. Results from 'length' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geometry_gdf["geometry"].length.values, fastpath=True, index=index)

In [39]:
nyc.network.nodes.head(5)

,source_layer,source_id,type,weight,degree,geometry,color
id,,,,,,,
0,nycstreet,0,street_node,0.0,1,POINT (-74.25604 40.50513),"[125, 125, 125]"
1,nycstreet,0,street_node,0.0,1,POINT (-74.25581 40.50778),"[125, 125, 125]"
2,nycstreet,0,street_node,0.0,2,POINT (-74.25529 40.50523),"[125, 125, 125]"
3,nycstreet,0,street_node,0.0,3,POINT (-74.25498 40.50773),"[125, 125, 125]"
4,nycstreet,0,street_node,0.0,3,POINT (-74.25495 40.50773),"[125, 125, 125]"